.contact li {
    list-style: none;
    display: flex;
    margin-right: 25px;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

footer h2 {
    margin-bottom: 5px;
    text-align: center;
}

footer p {
    margin-top: 0;
    text-align: center;
}

.footer {
    margin-top: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(54, 54, 99);
    width: 100%;
    margin-bottom: 0;
    color: white;
    position: relative;
    bottom: 0;
}